.App {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.App:after {
    position: absolute;
    content: "";
    z-index: -1;
    height: 15%;
    width: 100%;
    -webkit-filter: blur(4vw);
    -moz-filter: blur(4vw);
    -ms-filter: blur(4vw);
    filter: blur(4vw);
    background: linear-gradient(180deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 5s ease infinite;
    position: fixed;
    top: 0;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
